$(document).ready( function() {
  if ($(".transaction-submit-button").length == 0 ) {
    return false;
  }

  $(".transaction-submit-button").on("click", function(){
    var creditLineBalance =  Number($("#credit-line-credit-balance-transaction").val());
    var transactionAmount =  Number($("#transaction-amount-input").val());
    var difference = 0;
    var option = $(this).data("option");

     if (option == "deposit") {
       creditLineBalance + Number($("#transaction-amount-input").val());

     } else if ( option == "withdraw" ) {
      difference =  creditLineBalance - Number($("#transaction-amount-input").val());
     }


        return false;
        $.ajax({
          url:"/api/v1/transactions",
          headers: {
                  'Authorization':  $("#session_id").data("id")
                },
          method: "post",
          data:{
            "credit_line_id": $(this).data("creditlineid"),
            "amount": $("#transaction-amount-input").val(), 
            "option": $(this).data("option")
          },
          dataType:"json",
          success: function(Transaction, textStatus, xhr){
            var withdraw, deposit;
          if (xhr.status == 201) {
                    if (Transaction.option == "withdraw" ) {
                        withdraw = appTools.numberToCurrency(Transaction.amount);
                        deposit  = "";
                    } else if (Transaction.option == "deposit") {
                       deposit = appTools.numberToCurrency(Transaction.amount);
                       withdraw = "";
                    }

                $("#transactions-table-row").append("<tr><td>"+ appTools.formatDate(Transaction.created_at) 
                                                    + "</td><td>" + withdraw + "</td><td>"+ deposit + "</td><td>"
                                                    + appTools.numberToCurrency(Transaction.remaining_balance) +"</td></tr>");


            $("#credit-line-credit-balance").text(appTools.numberToCurrency(Transaction.remaining_balance));
            $("#credit-line-credit-balance-transaction").val(Transaction.remaining_balance);
          }

          $("#transaction-amount-input").val("");
            console.log("success");
          },
          error: function(xhr, status, error){
            console.log("failed")
             $("#transaction-amount-input").val("");
          }
        }); 

  }); //End of submit transaction 
  
});