  <div class="row">
    <div class="col-md-10 col-md-offset-1">
       <h3>Welcome Back!! <%= @current_user.full_name unless @current_user.blank? %></h3>
    </div>
  </div>
  <div class="row">
     <div class="col-md-10 col-md-offset-1">
      <div class="credit-line-header-block">
        <button id="open-new-credit-line-modal" type="button" class="btn btn-warning">Apply New Credit Line</button>
        <div id="credit-line-detail-crumb-block">
          <span id="return-to-credit-line-main"><u>Home</u></span> / <span id="credit-line-description"></span> 
        </div>
      </div>
     </div>
  </div>
  <div class="row">
     <div class="col-md-10 col-md-offset-1">
      <%= render(:partial => 'partials/credit_lines_table', :locals => {:credit_lines => @credit_lines}  ) %>
      <%= render :partial => 'partials/detail' %>
      </div> <!-- End of form block -->
     </div>
  </div>

  <%= render :partial => 'partials/new_credit_line_form'  %>
