<table class="table" >
 <thead>
  <tr>
    <th>Date</th>
    <th>Withdraw</th>
    <th>Deposit</th>
    <th>Remaining Balance</th>
  </tr>
 </thead>
 <tbody id="transactions-table-row">
 </tbody>
</table>