 <div id="payoff-form-table" class="tab-content-container">
    <table  class="table table-custum" >
      <tr>
        <td colspan="2"><b>Due Date:</b> <span id="credit-line-due-date"></span></td>
      </tr>
      <tr>
        <td><b>Total Interest:</b> </td>
        <td><span id="credit-line-credit-total-payoff-interest"></span></td>
      </tr>
      <tr>
        <td><b>Outstanding Balance:</b> </td>
        <td><span id="credit-line-outstanding-balance"></span></td>
      </tr>
      <tr>
         <td colspan="2" ><div style="border: 1px solid black; height: 1px;"></div></td>
      </tr>
      <tr>
        <td><b>Total Payoff Balance:</b></td>
         <td><span id="credit-line-total-payoff-balance" data-payoffamount></span></td>
      </tr>
      <tr>
         <td colspan="2" style="text-align: center;">
          <form id="payoff-form">
    <!--       <div class="form-check" >
            <input class="form-check-input" type="radio" name="payoff" id="payoff-full" value="full" checked>
            <label class="form-check-label" for="payoff-full">
               Pay In Full
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="payoff" id="payoff-different" value="different">
            <label class="form-check-label" for="payoff-different">
              Pay Different Amount:  <input id="payoff-different-amount" type="text" />
            </label>
          </div> -->
            <input type="hidden" id="payoff-payment-cycle-id" value>
            <!-- <input type="hidden" id="payoffamount" value> -->
            <button id="payoff-submit" type="button" class="btn btn-warning mb-2" >Make Payment</button>
          </form>
          </td>
      </tr>

    </table>
 </div> 
<div id="no-payment-due-reminder" class="alert alert-info">
    No payment is due this time
</div>
