 <div id="payoff-form-table" class="tab-content-container">
    <table  class="table table-custum" >
      <tr>
        <td colspan="2"><b>Due Date:</b> <span id="credit-line-due-date"></span></td>
      </tr>
      <tr>
        <td><b>Total Interest:</b> </td>
        <td><span id="credit-line-credit-total-payoff-interest"></span></td>
      </tr>
      <tr>
        <td><b>Outstanding Balance:</b> </td>
        <td><span id="credit-line-outstanding-balance"></span></td>
      </tr>
      <tr>
         <td colspan="2" ><div style="border: 1px solid black; height: 1px;"></div></td>
      </tr>
      <tr>
        <td><b>Total Payoff Balance:</b></td>
         <td><span id="credit-line-total-payoff-balance" data-payoffamount></span></td>
      </tr>
      <tr>
         <td colspan="2" style="text-align: center;">
          <form id="payoff-form">
            <input type="hidden" id="payoff-payment-cycle-id" value>
            <button id="payoff-submit" type="button" class="btn btn-warning mb-2" >Make Payment</button>
          </form>
          </td>
      </tr>
    </table>
 </div> 

<div id="payment-receipt-alert" class="alert alert-success">
    Your payment has successfully been received.
</div>

<div id="no-payment-due-reminder" class="alert alert-info">
    No payment is due this time.
</div>

<hr>
<div id="payment-history-block">
  <div style="text-align: center;"> <b><u>Payment History</u></b> </div>
  <table class="table table-custum">
    <thead>
      <tr>
       <th>Payment Period</th>
       <th>Due Date</th>
       <th>Receipt Date</th>
       <th>Amount</th>
      </tr>
    </thead>
    <tbody id="pay-off-receipt-table-row">
    </tbody>
  </table>
</div>


