 <div class="tab-content-container">
    <table  class="table table-custum">
      <tr>
        <td ><b>Date:</b> <span id="credit-line-credit-date"></span</td>
        <td ><b>Description:</b> <span id="credit-line-credit-description"></td>
      </tr>
      <tr>
        <td><b>Limit:</b> <span id="credit-line-credit-limit"></span></td>
        <td><b>Balance:</b> <span id="credit-line-credit-balance"></span></td>
      </tr>
      <tr>
        <td><b>ARP:</b> <span id="credit-line-credit-arp"></span></td>
        <td><b>Payment period:</b> <span id="credit-line-credit-payment-period"></span> Days</td>
      </tr>
    </table>
    <hr>
 </div> 