
<form id="transaction-form">
  <div class="form-row">
     <div class="col-md-7 mb-3">
      <label for="transaction-amount-input">Amount</label>
      <input type="text" id="transaction-amount-input" >
    </div>
    <div class="col-md-4 mb-3">
      <input id="credit-line-credit-balance-transaction" type="hidden" value="" >
      <button id="transaction-withdraw-button" type="button" class="btn btn-primary mb-2 transaction-submit-button" data-option="withdraw" data-creditlineid>Withdraw</button>
      <button id="transaction-deposit-button" type="button" class="btn btn-warning mb-2 transaction-submit-button" data-option="deposit" data-creditlineid>Payment</button>
    </div>
  </div>
</form>
<div class="alert alert-danger payoff-reminder">
    Your payment is past due. Please make payment.
</div>
<div class="payoff-reminder" >
    <button  id="make-payment-button" type="button" class="btn btn-warning mb-2">Make Payment</button>
</div>

