<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 style="text-align:center">Log In</h1>

  <div id="invalid-login-alert" class="alert alert-danger" >
    
  </div>
    <form id="log-in-form" action="">
      <div class="form-group">
        <label for="logInEmail">Email address</label>
        <input type="email" class="form-control" id="logInEmail" name="logInEmail" placeholder="Enter email"  autocomplete="off" required>
      </div>

      <div class="form-group">
        <label for="logInPassword">Password</label>
        <input type="password" class="form-control" id="logInPassword" name="logInPassword"  placeholder="Password" autocomplete="off" required>
      </div>
      <div>
        <button id="login-submit-button" type="submit" class="btn btn-primary">Log In</button>  <a href="/users/new"  onclick="window.location.replace('/users/new')" > or Sign Up</a>
      </div>
    </form>
  </div>
</div>
