<div class="container">
  <div class="row">
     <div class="col-md-1">
     </div>
     <div class="col-md-10">
      <div style="width: 100%; height: 70px; margin-top: 30px;">
        <button id="open-new-credit-line-modal" type="button" class="btn btn-warning">Apply New Credit Line</button>
        <div id="credit-line-detail-crumb-block" style="display: none;">
          <span id="return-to-credit-line-main"><u>Home</u></span> / <span id="credit-line-description"></span> 
        </div>

      </div>
      <div style="width: 100%">
      </div> <!-- End of form block -->
     </div>
     <div class="col-md-1">
     </div>
  </div>
  <div class="row">
     <div class="col-md-1">
     </div>
     <div class="col-md-10">

      <%= render(:partial => 'partials/credit_lines_table', :locals => {:credit_lines => @credit_lines}  ) %>
     
    <%= render :partial => 'partials/detail' %>
     
      </div> <!-- End of form block -->
     </div>
     <div class="col-md-1">
     </div>
  </div>
</div>

  <%= render :partial => 'partials/new_credit_line_form'  %>

