<div class="row">
  <div class="col-md-5 col-md-offset-3">
      <div style="height: 400px; margin-top: 100px; text-align: center;">
         <span style="font-size: 32px; color: #fff"> Apply Premier Line of Credit Today! </span>
         <br>
         <br>
           <a href="users/login" class="custom-button" onclick="window.location.replace('/users/login');" >Sign In</a>
      </div>
  </div>
</div>
