$(document).ready( function() {

/****** transactions *******/

 $("#make-payment-button").on("click", function(){
   $('.nav-tabs a[href="#bill"]').tab('show');
 });


  //Create transactions 
  $(".transaction-submit-button").on("click", function(){
        $.ajax({
          url:"/api/v1/transactions",
          headers: {
                  'Authorization': "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoyfQ.mdhf3iJDUYR3BZLzuHzyCrUn_DZqKBN35jzJxb1hjAI"
                },
          method: "post",
          data:{
            "credit_line_id": $(this).data("creditlineid"),
            "amount": $("#transaction-amount-input").val(), 
            "option": $(this).data("option")
          },
          dataType:"json",
          success: function(Transaction, textStatus, xhr){
            var withdraw, deposit;
          if (xhr.status == 201) {
                    if (Transaction.option == "withdraw" ) {
                        withdraw = appTools.numberToCurrency(Transaction.amount);
                        deposit  = "";
                    } else if (Transaction.option == "deposit") {
                       deposit = appTools.numberToCurrency(Transaction.amount);
                       withdraw = "";
                    }

                $("#transactions-table-row").append("<tr><td>"+ appTools.formatDate(Transaction.created_at) 
                                                    + "</td><td>" + withdraw + "</td><td>"+ deposit + "</td><td>"
                                                    + Transaction.remaining_balance +"</td></tr>");


            $("#credit-line-credit-balance").text("$" + Transaction.remaining_balance);
          }

          $("#transaction-amount-input").val("");
            console.log("success");
          },
          error: function(xhr, status, error){
            console.log("failed")
             $("#transaction-amount-input").val("");
          }
        }); 



  }); //End of submit transaction 
  


   $("#open-new-credit-line-modal").on("click", function(){
      $("#creditLineEditInvestorFormModal").modal();
   }) 


    $("#create-credit-line").on("click",function(e){
      $("#creditLineEditInvestorFormModal").modal("hide");

        e.preventDefault();
        $.ajax({
          url:"/api/v1/credit_lines",
          headers: {
                'Authorization': "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoyfQ.mdhf3iJDUYR3BZLzuHzyCrUn_DZqKBN35jzJxb1hjAI"
              },
          data:{
            "limit": $("#creditLineLimit").val(),
            "balance": $("#creditLineLimit").val(), 
            "number_of_days": $("#numberOfDays").val(),
            "description": $("#description").val(),
            "interest":$("#arp").val()
          },
          method: "post",
          dataType:"json",
          // success: function(data){
          success: function(creditLine, textStatus, xhr){
          if (xhr.status == 201) {
            $("tbody#line-credit-table-row").append("<tr><td>"+ appTools.formatDate(creditLine.created_at) 
                                              + "</td><td>"+ creditLine.description +"</td><td>"
                                              + appTools.numberToCurrency(creditLine.limit) + "</td><td>"+ appTools.numberToCurrency(creditLine.balance) + "</td><td>"
                                              + creditLine.interest*100 + "%" +"</td><td>"+ creditLine.number_of_days + " Days"
                                              +"</td><td>" + '<span style=" display: block; float: left;"><button id="access-to-credit-line"  data-id="'+ creditLine.id +'"  type="button" class="btn btn-info access-to-credit-line">access</button></span><span style="display: block; float: right;"><button id="delete-credit-line" data-id="'+ creditLine.id +'" type="button" class="btn btn-danger delete-credit-line">Delete</button></span>' +"</td></tr>");
          }


            console.log("success");
          },
          error: function(xhr, status, error){
            console.log("failed")
          }
        });
    })


$('#myModal').on('hidden.bs.modal', function () {
    // do something…
})


function resetFormFields() {
  $("#creditLineLimit").val("");
  $("#creditLineLimit").val(""); 
  $("#numberOfDays").val("");
  $("#description").val("");
  $("#arp").val(""); 
}


  /***************** Access Credit Line *****************/

  $(".access-to-credit-line").on("click",function(){
     $("#transactions-table-row").empty();

        $.ajax({
          url:" /api/v1/credit_lines/" + $(this).data("id"),
          method: "get",
          headers: {
            'Authorization': "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoyfQ.mdhf3iJDUYR3BZLzuHzyCrUn_DZqKBN35jzJxb1hjAI"
          },
          dataType:"json",
          success: function(data, textStatus, xhr){
            if (xhr.status == 200) {
              $("#line-credit-main-table").hide();
              $("#open-new-credit-line-modal").hide();
              $("#credit-line-detail-crumb-block").fadeIn();
              $("#credit-line-detail-block").fadeIn();
             
              $("#credit-line-credit-date").text( appTools.formatDate(data.credit_line.created_at));
              $("#credit-line-credit-description").text(data.credit_line.description);
              $("#credit-line-description").text(data.credit_line.description);
              $("#credit-line-credit-limit").text(appTools.numberToCurrency(data.credit_line.limit));
              $("#credit-line-credit-balance").text(appTools.numberToCurrency(data.credit_line.balance));
              $("#credit-line-credit-arp").text(data.credit_line.interest*100 + "%");
              $("#credit-line-credit-payment-period").text(data.credit_line.number_of_days);
   
                if (data.payment_cycle) {
                  $("#credit-line-closing-date").text(appTools.formatDate(data.payment_cycle.close_date));
                  if (data.payment_cycle.paid == false){
                      $(".payoff-reminder").show();
                      $("#transaction-form").hide();
                      $("#credit-line-due-date").text(appTools.formatDate(data.payment_cycle.close_date));
                      $("#payment-due-date").text(appTools.formatDate(data.payment_cycle.close_date));
                      
                      var outstanding_balance = Number(data.credit_line.limit) - Number(data.credit_line.balance);
                      $("#credit-line-outstanding-balance").text(appTools.numberToCurrency(outstanding_balance));
                      $("#credit-line-total-payoff-balance").text(appTools.numberToCurrency(data.payment_cycle.amount));
                      $("#credit-line-credit-total-payoff-interest").text( appTools.numberToCurrency( Number(data.payment_cycle.amount) - outstanding_balance ) );

                      $("#payoff-payment-cycle-id").val(data.payment_cycle.id);
          
                  }
                }
                
              // 
             $(".transaction-submit-button").data("id",data.credit_line.id);
              
              if (data.transactions.length > 0 ) {
                  var deposit, withdraw;
                  $.each(data.transactions, function(i, t){
                      if (t.option == "withdraw" ) {
                          withdraw = appTools.numberToCurrency(Number(t.amount));
                          deposit  = "";
                      } else if (t.option == "deposit") {
                         deposit = appTools.numberToCurrency(Number(t.amount));
                         withdraw = "";
                      }
                    $("#transactions-table-row").append("<tr><td>"+ appTools.formatDate(t.created_at) + "</td><td>" 
                                                      + withdraw + "</td><td>"+ deposit + "</td><td>"
                                                      + appTools.numberToCurrency(t.remaining_balance) +"</td></tr>");
                  })
               }

            } //End of if (xhr.status == 200) block

          },
          error: function(xhr, status, error){
              console.log(xhr.status);
              console.log(error);
          }
        });





  })

  $("#return-to-credit-line-main").on("click",function(){
    $("#line-credit-main-table").fadeIn();
    $("#open-new-credit-line-modal").fadeIn();
    $("#credit-line-detail-crumb-block").hide();
    $("#credit-line-detail-block").hide();
    $("#transactions-table-row").empty();
    $('.nav-tabs a[href="#summary"]').tab('show');
    $("#credit-line-closing-date").text("");
    $("#credit-line-due-date").text("");
    $("#credit-line-credit-total-payoff-interest").text("");
    $("#credit-line-outstanding-balance").text("");
    $("#payoff-payment-cycle-id").text("");
  })



  /***************** Delete Credit Line *****************/
   $( ".delete-credit-line").on("click",function(){
       $.ajax({
          url:"/api/v1/credit_lines/" + $(this).data("id"),
          headers: {
                'Authorization': "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoyfQ.mdhf3iJDUYR3BZLzuHzyCrUn_DZqKBN35jzJxb1hjAI"
              },
          data:{
            "user_id": 2
          },
          method: "delete",
          dataType:"json",
          success: function(creditLineId, textStatus, xhr){
            if (xhr.status == 200) {
              $("#credit-line-"+ creditLineId).remove();
            }

          },
          error: function(xhr, status, error){
            console.log("failed")
          } 
        });



   })


});