header, footer {
  background-color: #00bdf2;
}


footer {
    background-color: #00bdf2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 60px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 27%;
    float: right;
    border-color: 1px solid black;
}

nav ul li {
    float: left;
}


nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
  background-color: #004b8b;
  cursor: pointer;
   color: white;
}


nav ul li a:active {
  background-color: #004b8b;
  cursor: pointer;
   color: white;
}

.main-body  {
    height: 500px;
    width: 100%;
   background-image: image-url("city-of-la-final-2.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
}

.custom-button {
  border-radius: 21px;
    font-family: "Montserrat";
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 0.8em;
    background-color: #FFC80A;
    color: black;
    display: block;
    width: fit-content;
    padding: 13px 26px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.custom-button.hover {
   cursor: pointer;
}

#home-url-link {
  text-decoration: none;
  color: #fff;
}

#home-url-link:hover {
  cursor: pointer;
}
