<header >
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <nav>
          <div style="width: 50%; color: #fff; float: left;">
            <h4>Line of Credit</h4>
          </div>
          <ul>
            <% if is_logged_in? %>
              <li></li>
              <li></li>
              <li><%= link_to "My Credits", credit_lines_path %></li>
              <li><%= link_to "Sign Out", "", id: "user-sign-out-link", data: { userid: 1}%></li>
            <% else %>
              <li></li>
              <li></li>
              <li><%= link_to "Sign In", login_users_path %></li>
              <li><%= link_to "Sign Up",  new_user_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>